@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --color-navy: #04095e;
  --color-navyHover: #030640;
  --color-green: #67a32b;
}

@layer base {
  body {
    background-color: #ffffff;
    color: #0f172a;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
